vsphere_user     = "administrator@vsphere.local"
vsphere_password = "hashi123!"
vsphere_server   = "vc01.lab.local"

prefix           = "grant"
subnet           = ["0.0.0.0/0"]
datacenter_name  = "Sydney"
cluster_name     = "Development"
datastore_name   = "ds01"
vm_network_name  = "ls01"
template_name    = "template_ubuntu18"

os_user          = "ubuntu"
Os_password      = "Hashi123!"
domain           = "lab.local"
dns_server_list  = ["192.168.0.10","192.168.0.11"]
ipv4_gateway     = "192.168.0.1"
ipv4_address     = "192.168.0.101"
ipv4_netmask     = 24

nsx_host         = "nsx-manager.lab.local"
nsx_username     = "admin"
nsx_password     = "Hashi123!"
